* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

h1{
      font-family: "Saira", sans-serif;
     transform: rotate(-10deg);
     color: white;
     font-weight: 900;
     font-style: italic;
     font-size: 50px;
}

.raio{
    margin-bottom: -70px;
    width: 100px;
    height: 100px;
}

.carrinho{
    border: 10px solid white;
    width: 300px;
    height: auto;
    transition: all 200ms linear;
    transform: rotate(-3deg);
}

.carrinho2{
    border: 10px solid white;
    width: 300px;
    height: auto;
    transition: all 200ms linear;
    transform: rotate(-5deg);

}

.carrinho2:hover{
    transform: rotate( -5deg);
}
.carrinho:hover{
    transform: rotate(-3deg);
}

.distancia{
    display: flex;
    gap: 30px;
}